composite-dbg.debhelper.log
composite-dbg.substvars
composite-dbg/
composite.debhelper.log
composite.substvars
composite/
files
stamp-makefile-build
stamp-makefile-install
composite-data.debhelper.log
composite-data.substvars
composite-data/
tmp/
